@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
body{
    background:url('https://images.unsplash.com/photo-1588392382834-a891154bca4d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80');
    background-repeat: no-repeat;
    background-size:cover;
    overflow:hidden;
    height: 100vh;

}

.container{
    color:white;
    padding: 20px 70px;
    color:#fff;
}

.current-info{
    color:white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.date-container{
    font-weight: 100;
}
.date-container .time{
    font-size: 70px;
}

.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
}

.date-container .date{
    font-size: 30px;
}

.place-container{
    text-align: end;
}

.place-container .time-zone{
    font-size: 60px;
    font-weight: 100;
}

.place-container .country{
    font-size: 18px;
}

.current-info .others{
    color:white;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    background: rgba(24,24,27, 0.6);
    padding:20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
}

.current-info .others .weather-item{
    display: flex;
    justify-content: space-between;
}


.future-forecast{
    color:white;
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    color:white;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.future-forecast .today{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    padding:15px;
    padding-right: 40px;
    border-radius: 10px;
    background: rgba(24,24,27,0.8);
}

.future-forecast .today .day{
    color:white;
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .temp{
    font-size: 25px;
    padding-top: 15px;
}

.future-forecast .weather-forecast{
    display: flex;
}

.weather-forecast .weather-forecast-item{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    background: rgba(24,24,27,0.8);
}

.weather-forecast .weather-forecast-item .day{
    padding: 5px 15px;
    background: #3C3C44;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp{
    font-weight: 100;
    font-size: 20px;
}

.container-search {
    display: flex;
    position: absolute;
    color: white;
    top: 30%;
    left: 35%;
    display: block;
    text-align:center;
}

.container-search input {
    text-align: center;
    display: flex;
    font-size: 20px;
    color: white;
    height: 50px;
    width: 200%;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    background: rgba(24,24,27,0.8);
}

#current-places-items {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 20px;
    flex-direction: column;
    background: rgba(24,24,27, 0.8);
    padding:20px;
    border-radius: 10px;
    margin: 100px 0;
    border: 1px solid #eee;

}

.list-group {
    list-style: none;
}

.list-group .oldCity {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: left;
    background: rgba(24,24,27, 0.6);
    cursor: pointer; 
}

.recentSearch {
    font-size: 25px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background: rgba(24,24,27, 0.8);
}

.oldCity:hover {
    background: rgba(24,24,27, 0.2);
}

@media only screen and  (max-width:730px){
    
    .container{
        padding: 20px;
    }
    
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }

    .future-forecast .today .temp{
        font-size: 16px;
    }

    .date-container .time{
        font-size: 50px;
    }

    .date-container #am-pm{
        font-size: 20px;
    }

    .date-container .date{
        font-size: 20px;
    }

    .place-container{
        text-align: end;
        margin-top: 15px;
    }

    .place-container .time-zone{
        font-size: 20px;
    }

    .current-info .others{
        padding: 12px;
    }

    .current-info .others .weather-item{
        font-size: 14px;
    }

}

@media only screen and (max-width: 1400px){
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-x: scroll;
    }

    .container-search input {
        text-align: center;
        display: flex;
        flex-direction: row;
        font-size: 20px;
        color: white;
        height: 50px;
        width: 100%;
        border: 1px solid #eee;
        padding: 15px;
        border-radius: 10px;
        background: rgba(24,24,27,0.8);
    }
}